###########################################################################
# GLOBAL CONFIGURATION
###########################################################################

# Where Eucalyptus is installed
EUCALYPTUS="/"

# This is the username that you would like eucalyptus to run as
EUCA_USER="eucalyptus"

# Extra options to pass to the eucalyptus-cloud process, such as log
# levels, heap size, or other JVM flags.
{% set max_mem = ansible_memtotal_mb %}
{% set xmx = max_mem / 2048 %}
{% set xms = max_mem / 3092 %}
{% if xms < 1024 %}
{% set xms = xmx %}
{% endif %}
{% if java_iface %}
{% set vnet = 'ansible_' + java_iface %}
CLOUD_OPTS="--bind-addr={{  hostvars[inventory_hostname][vnet]['ipv4']['address'] }} -Xms{{ xms }}G -Xmx{{ xmx }}G"
{% endif %}
{% else %}
CLOUD_OPTS="-Xms{{ xms }}G -Xmx{{ xmx }}G"
{% endif %}
